body {margin: 0;font-family: sans-serif;background: #0e4d6f;
overflow: hidden;}
header {
    height: 70px;
    background: #0e4d6f;
}
header div {
    font-size: 50px;
    color: white;
    font-weight: 900;
    line-height: 70px;
    margin-left: 10px;
}
#chatContainer {
    display: none;
}
.select {
    background: url(../data/img/choose.png);
    width: 60px;
    height: 60px;
    position: absolute;
    right: 10px;
    background-size: contain;
    filter: invert(1);
    top: 9px;
    cursor: pointer;
}
.letterSelection {
    position: absolute;
    width: inherit;
    background: #0e4d6fad;
    right: -250px;
    top: 70px;
    height: calc(100vh - 179px);
    transition: ease-in-out .5s;
    overflow: scroll;
}
.eachLetter {
    font-size: 100px;
    background: #fde9c7;
    color: #9b2c1d;
    font-weight: 800;
    border: solid 5px;
    margin: 10px;
    padding: 12px 35px;
    width: 77px;
}
.letterSelection.selected {
    right: 0px;
}
.app {
    display: flex;
    background: #ffe9bc8a;
    max-height: -webkit-fill-available;
}
.storyPage, .lettersPage {
    width: 50%;
    font-size: 30px;
    border: solid 5px #0e4d6f;
    /*height: -webkit-fill-available;*/
    background: linear-gradient(#fff3dcf5, #fff3dce6), url(../data/img/cover3.png);
    background-size: cover;
}
.appContainer {
    background: url(../data/img/app_bkrd.png);
    height: 100vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.storyText {
    position: absolute;
    bottom: 146px;
    margin: 20px;
    display: none;
}
.logoContainer {
    text-align: center;
    padding: 50px 0px;
    font-size: 5em;
}
sup {
    font-size: 13px;
    font-weight: 900;
    color: brown;
}
.startButton {
    border: solid 5px #12616e;
    width: max-content;
    margin: 50px auto;
    padding: 10px 30px;
    font-size: 3em;
    text-transform: uppercase;
    position: absolute;
    bottom: 1em;
    left: 0;
    right: 0;
    border-radius: 10px;
    cursor: pointer;
    background: #ffffff;
    color: #17616f;
    font-weight: 800;
}
.lettersPage div {
    font-size: 4em;
    text-align: center;
    line-height: 75px;
}
.storyImage img {
    height: calc(100svh - 417px);
    /* margin: 0 auto; */
    border-radius: 10px;
    border: solid 5px #912d1d;
    margin-top: 6px;
}

.nextButton {
    border: solid 5px #912d1d;
    width: max-content;
    /* margin: 50px auto; */
    padding: 10px 15px;
    font-size: 2em !important;
    text-transform: uppercase;
    position: fixed;
    bottom: 0;
    /* left: 0; */
    right: 0;
    border-radius: 20px 0 0 0;
    cursor: pointer;
    background: #fff7e8;
    color:  #912d1d;
    font-weight: 700;
}
.backButton {
    font-weight: 800;
    border: solid 5px #0e4d6f;
    width: max-content;
    /* margin: 50px auto; */
    padding: 10px 15px;
    font-size: 2em !important;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    /* left: 0; */
    left: 0;
    border-radius: 0 20px 0 0;
    cursor: pointer;
    background: #fff7e9;
    color: #0e4d6f;
}
.upper {
    margin: .5em 0;
}
.app {
    height: calc(100svh - 70px);
}
.word {
    margin: .5em 0 0 0;
}
.upper,.lower,.word {
    cursor: pointer;
}
.genImage {
    width: 256px;
    height: 256px;
    border-radius: 20px;
    margin: 20px;
    border: solid 6px;
}
.storyImage {
    margin: 0 auto;
    width: min-content;
}
.lettersPage {
    border-right: none;
    background: linear-gradient(#fff3dcf5, #fff3dce6), url(../data/img/cover2.png);
    background-size: cover;
}
.upper {
    color: #9b2c1d;
}

.lower {
    color: #0e4d6f;
}

.word {
    color: #0b4f71;
}
.upper, .lower, .word {
    border: solid 5px;
    width: fit-content;
    margin: 2dvh auto;
    padding: 5dvh;
    font-weight: 700;
    border-radius: 10px;
    background: #fee9c7;
}
@media (orientation: portrait) {
    body {
    background: #feeac3;
}
    .appContainer {
        background: url(../data/img/app_bkrd.png);
        height: 100vh;
        background-size: 100vh;
        background-position: top;
        background-repeat: no-repeat;
    }
 .appContainer {
    background-size: cover;
}
.startButton {
    border: solid 5px #12616e;
    margin: 17px auto;
    padding: 50px 30px;
    font-size: 5em;
    text-transform: uppercase;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    border-radius: 10px;
    cursor: pointer;
    background: #ffffff;
    color: #17616f;
    font-weight: 800;
    text-align: center;
}
.app {
    display: block;
}
    .lettersPage {
     border-right: solid 5px #0e4d6f;
     /*width: 100%;*/
     height: 232px;
     border-bottom: none;
    }
    .storyPage, .lettersPage {
    width: -webkit-fill-available;
    border: none;
    border-bottom: solid 5px #0e466f;
}


.upper, .lower, .word {
        margin: auto;
        /* padding: 44px 0; */
        /* width: calc(100% - 27px); */
    }
    .lettersPage div {
        font-size: 2.5em;
        line-height: 0;
        float: left;
        padding: inherit;
    }
    .lettersPage div:first-child, .lettersPage div:nth-child(2) {
        width: calc(50svw - 15px);
        margin: 1svw;
        height: 86px;
        line-height: 71px;
        box-sizing: border-box;
    }
    .lettersPage div:nth-child(2) {
        margin-left: 0dvw;
    }
.lettersPage div:nth-child(3) {
        width: calc(98svw - 10px)!important;
        margin: 1svw;
        height: 93px;
        line-height: normal;
    }
    .storyImage img {
        /* height: 69dvw; */
    }
        .nextButton, .backButton {
        line-height: 48px !important;
        height: 45px;
        width: 40%;
    }
.letterSelection {
    height: calc(100vh - 145px);
}
.eachLetter {
    width: 38px;
    font-size: 57px;
}
}
@media only screen and (max-width: 450px) {
    .storyImage img {
    height: 46svh;

}
header div {
    font-size: 46px;
}
    .appContainer {
        height: 81vh;

    }
        .lettersPage div:first-child, .lettersPage div:nth-child(2) {
        width: calc(51svw - 15px);
        margin: 1svw;
    }
        .lettersPage {
        height: 216px;
    }
        .lettersPage div:nth-child(3) {
        width: calc(96svw - 10px) !important;
        margin: 2svw;

    }
    .select {
    width: 52px;
    height: 52px;

}
}
@media only screen and (max-width: 375px) {
        .storyImage img {
        height: 40svh;
    }
}
